body{
    background-color:rgb(101, 84, 175);
    background-image: url('https://img.freepik.com/premium-vector/vector-seamless-blue-pattern-with-line-envelopes_182787-1424.jpg?size=626&ext=jpg');
}
h1{
   text-decoration: underline;text-align: center;
}
label{
    
    background-color: gold ;color: crimson;
}
input{
    color:darkorange;
    
    
}